<form method="post" action="/tenants">
  <input type="text" name="Name[name]" placeholder="Name">
  <input type="text" name="Age[age]" placeholder="Age">
  <input type="text" name="Gender[gender]" placeholder="Gender">
  <input type="submit">
</form>
